%f-opensans {
  font-family: 'Open Sans', sans-serif;
}

%f-opensans-condensed {
  font-family: 'Open Sans Condensed', sans-serif;
}

%f-opensans-semicondensed {
  font-family: 'Open Sans Semicondensed', sans-serif;
}

%p {
  font-weight: 400;
  line-height: 1.67;

  @include media('>=tablet') {
    font-weight: 300;
  }
}

%a {
  text-decoration: none;
  color: white;
}

%h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 26.8px;
}

%h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: $primary;

  @include media('>=tablet') {
    font-size: 16.5px;
  }
}

%h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 42px;
  letter-spacing: 0.8px;

  @include media('<tablet') {
    font-size: 30px;
  }
}

%hr {
  border: 0;
  background-color: white;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 28px;
}
