body {
  @include u-font-smooth();
  @extend %f-opensans;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  color: white;
  background-color: $bg;
  overflow-x: hidden;

  &.is-scroll-locked {
    margin: 0;
    width: 100vw;
    height:100vh;
    overflow: hidden;
  }
}

::selection {
  //
}
