/*
<button class="primary-btn is-loading" type="button">
  <span class="btn__loading-wrap">
    <span class="btn__label">Label</span>
    <span class="btn__spinner"></span>
  </span>
</button>
*/

.btn__loading-wrap {
  position: relative;
  transition-property: padding-right;
  transition-duration: inherit;
  transition-timing-function: inherit;

  .is-loading & {
    display: block;
    padding-right: 17px;
  }
}

.btn__spinner {
  @include u-spinner();
  @include u-vertical-center();
  right: -15px;
  position: absolute;
  transform: translateY(-50%) scale(0);
  transform-origin: 50% 50%;

  .is-loading & {
    transform: translateY(-50%) scale(1);
    transition: 0.4s ease(out-back);
  }
}

.primary-btn {
  @include u-button-base(white, white, transparent, transparent);
  padding: 0 2px;
  line-height: 38px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  border-bottom: 1px solid $primary;

  &:after {
    content: '❯';
    position: absolute;
    opacity: 0;
    margin-left: 0;
    transition: all 0.1s linear;
  }

  .no-touch &:hover,
  &:focus {
    padding-right: 20px;

    &:after {
      opacity: 1;
      margin-left: 10px;
    }
  }

  .has-touch & {
    @include media('<tablet') {
      position: relative;
      z-index: 1;
      @include u-extend-hitbox();
    }
  }
}
