@font-face {
  font-family: 'Helvetica Neue LT Std 55 Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Std 55 Roman'), url('~@/assets/fonts/HelveticaNeueLTStd55Roman_22526.woff') format('woff');
  font-display: swap;
}


